<template name="studyList">
    <div class = "container">
    {{#each studyListRow}}
          <div class="row">
            <div class="col-xs-4"><h3>Placeholder</h3></div>
            <div class="col-xs-2">Placeholder</div>
            <div class="col-xs-2"><a href = "{{pathFor 'studyPage'}}" class="discuss btn btn-default">View</a></div>
            <div class="col-xs-2"><a href = "{{pathFor 'studyEdit'}}" class="discuss btn btn-default">Edit</a></div>
            <div class="col-xs-2"><span class = "btn btn-default" id="deleteStudyButton">Delete</span></div>
            </div>
    {{/each}}
    </div>
</template>